# Kevgitignore

# Object files
*.o

# Compilation files
*.crf
*.d
*.dep
*.iex
*.lst
*.lnp
*.map

# Keil
*.bak
*.uvgui.*
*.uvopt.*
*.ini
*.axf
*.Clément
Code/Projects_STM32/Project_Speed_Sensor/MDK-ARM/Project_Speed_Sensor.uvgui_Clément.bak
*.bak
*.Clément
Code/Projects_STM32/Project_Speed_Sensor/MDK-ARM/Project_Speed_Sensor.uvgui.Clément
*.bak
*.bak
Code/Projects_STM32/Project_Speed_Sensor/MDK-ARM/Project_Speed_Sensor_uvopt.bak